<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;MoonLady</ion-card-title>
      <ion-card-subtitle>May 2nd</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Did something happen to the broadcast? <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;Oioilio</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Is that a bag of holding? Hells yeah these guys are gonna win if they know the astral plane trick lol. Would the producers allow it though? <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;DreadLordMike</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      THEY CONVINCED HIM TO LEAVE? HOW? This is fucking scripted it's so obvious <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;HeartLes</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      uh oh that's a lot of dogs╭(* _ *)╮this guy means business <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;LadiesMan22</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Tamsin can get it man i dont care how many people shes killed she can kill me if she wants <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;DreadLordMike</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      FIRST KILL! Dumbass orc didn't stand a chance lmao <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;MoonLady</ion-card-title>
      <ion-card-subtitle>May 1st</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      AND WE'RE OFF! Got all my girlies over for the day 1 watch party! <span style="color: #3880ff;">&#64;LeaLea &#64;HeartLes &#64;RoraBorealis #TheHunt</span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;FaeNews</ion-card-title>
      <ion-card-subtitle>April 30th</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      RUMOR ALERT! I heard from a reliable source that the infamous Tamsin Thickey will be appearing in <span style="color: #3880ff;">#TheHunt</span> this year!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>&#64;MoonLady</ion-card-title>
      <ion-card-subtitle>April 30th</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      So excited for the new season of <span style="color: #3880ff;">#TheHunt</span>
    </ion-card-content>
  </ion-card>

</ion-content>
